.mu-slider {
  width: 100%;
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none;
  outline: none;
}

.mu-slider-track {
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -2px;
  background-color: #bbbfc4;
  border-radius: 1000px;
}

.mu-slider-fill {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #d43c33;
  left: 0;
  top: 50%;
  margin-top: -2px;
  border-radius: 1000px;
  .mu-slider.disabled & {
    background-color: #bbbfc4;
  }
}

.mu-slider-thumb {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  background-color: #fff;
  color: #d43c33;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background 450ms cubic-bezier(0.23, 1, 0.32, 1), border-color 450ms cubic-bezier(0.23, 1, 0.32, 1), width 450ms cubic-bezier(0.23, 1, 0.32, 1), height 450ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);

  &::after {
    content: '';
    font-size: 0;
    display: block;
    padding: 2px;
    border-radius: 8px;
    background-color: #d43c33;
    position: absolute;
    top: 50%;
    margin-left: 1px;
    transform: translate(100%, -50%);
  }
}

.volume {
  .mu-slider-track {
    background-color: #ddd;
  }
  .mu-slider-thumb {
    width: 10px;
    height: 10px;
    &::after {
      display: none;
    }
  }
}
